<footer class="bg-white text-center footer-partials">
  <hr/>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-floating m-1 fs-1" href="https://www.linkedin.com/in/virginia-barbaro/" target="_blank" role="button"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a class="btn btn-floating m-1 fs-1" href="https://github.com/VirginiaBarbaro" target="_blank" role="button"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <!-- Email -->
      <a
        class="btn btn-floating m-1 fs-1"
        href="mailto:virginiabarbaro@icloud.com?subject=&body=Hola,%20quiero%20contactarte"
        target="_blank"
        role="button"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <div class="text-center p-1 text-dark" style="background-color: white">
        Copyright © Hack Academy 2023 | Virginia Barbaro
      </div>
    </section>
  </div>
</footer>
