<footer class="bg-white text-center footer-partials">
  <hr/>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Twitter -->
      <a class="btn btn-floating m-1 fs-1" href="https://twitter.com/" target="_blank" role="button"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
      <!-- Github -->
      <a class="btn btn-floating m-1 fs-1" href="https://github.com/" target="_blank" role="button"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <!-- Facebook -->
      <a
        class="btn btn-floating m-1 fs-1"
        href="https://facebook.com/"
        target="_blank"
        role="button"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <div class="text-center p-1 text-dark" style="background-color: white">
        Copyright © Hack Academy 2023 | Virginia Barbaro
      </div>
    </section>
  </div>
</footer>
