<!-- <link rel="stylesheet" href="/style.css" />
<div class="mb-3 p-4">
  <form action="/admin/sign-up" method="post" id="edit-form">
    <h3 class="new-user-form">Create your User</h3>
    <label for="firstname" class="form-label">Firstname</label>
    <input
      type="text"
      class="form-control"
      id="firstname"
      placeholder="firstname..."
      name="firstname"
      required
    />
    <label for="lastname" class="form-label">Lastname</label>
    <input
      type="text"
      class="form-control"
      id="lastname"
      name="lastname"
      placeholder="lastname..."
      required
    />
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="email..."
      required
    />
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="password..."
      required
    />
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/login" class="btn btn-dangger">Back to login</a>
  </form>
</div>
 -->
