<div class="father-container-navbar">
  <nav class="navbar">
    <div class="container-fluid">
      <div>
        <a href="/" style="text-decoration: none"
          ><h4 class="text-white">Hack the blog</h4></a
        >
      </div>
      <div class="link-navbar ms-auto">
        <% if (!user) { %>
        <div>
          <a class="mx-2 navbar-link text-decoration-none" href="/login">Log In!</a>
        </div>
        <div>
          <a href="/sign-up" class="me-3 navbar-link text-decoration-none">Sign Up!</a>
        </div>
        <% } else { %>
        <div>
          <a href="/logout" class="navbar-link text-decoration-none mx-3">Log out</a>
        </div>
        <% } %> <% if (user && user.roleCode >= 200) { %>
        <div>
          <a class="mx-3 navbar-link text-decoration-none" href="/admin">Admin</a>
        </div>
        <% } %>
      </div>
    </div>
  </nav>
</div>
