* {
  margin: 0;
  box-sizing: border-box;
}

/* Home */

#container-img {
  background-image: url("https://i1.wp.com/www.adams.es/blogs/alumno/files/2020/06/portada-empezar-a-estudiar.jpg?w=2280&ssl=1");
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.2rem;
}

#hero-image-title {
  font-size: 4rem;
}

#hero-image-text {
  font-size: 2rem;
}

.content-home-article {
  transition: transform 0.2s;
}

.content-home-article:hover {
  transform: scale(1.1);
}

.fullname-article-home {
  color: #005b47;
}

#section {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 10px;
}

@media (max-width: 568px) {
  #section {
    width: 70%;
  }
}

#a {
  color: black;
  text-decoration: none;
}

#a:visited {
  text-decoration: none;
}

#a:hover {
  text-decoration: none;
  cursor: pointer;
}

#parrafo {
  width: 80%;
  margin: auto;
  padding: 10px;
}

#h3 {
  text-align: center;
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
}

input {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.modal {
  width: 60%;
  margin: auto;
  margin-top: 50%;
  padding: 10px;
  border: 1px solid red;
}

/* #newArt {
  box-shadow: 0 0 25px violet;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
} */

#newArt label {
  margin-bottom: 20px;
}

#newArt input {
  border-radius: 20px;
  border: none;
}

textarea {
  border: none;
  border-radius: 20px;
}

#buttons {
  width: 85%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

#table {
  margin-top: 30px;
}

#body {
  background-color: antiquewhite;
}

.comment-container {
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

#h3-comment {
  text-align: center;
}

/* Edit form  */

.form-edit-article {
  height: 100vh;
  background: rgb(0, 91, 71);
  background: radial-gradient(circle, rgba(0, 91, 71, 1) 0%, rgba(208, 143, 100, 0.811) 100%);
}

.edit-form {
  margin-top: 7rem !important;
  background-color: #2020204f;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 2rem;
  color: #f5f5f5;
}

.postComment {
  padding: 5px;
  color: #202020e2;
}

#logout-btn {
  margin-left: 77%;
}

#admin-users {
  margin-left: 8%;
}

#welcome {
  font-family: sans-serif;
  text-align: center;
  margin-top: 15px;
}

#img-articles {
  align-items: center;
}

/* Admin all users  */

.all-users-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.title-all-users {
  margin-top: 5rem;
  padding: 1rem;
}

/* login  */

.form-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.formulary {
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: #2020204f;
  backdrop-filter: blur(3px);
  text-align: center;
  border-radius: 10px;
}

.input-tx {
  border-radius: 10px;
  border: none;
}

.log-in-btn {
  padding: 0.65rem 0 0.65rem 0;
  color: rgba(255, 255, 255, 0.776);
  background-color: #005b47;
  font-weight: 200;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.log-in-btn:hover {
  background-color: #005b47c1;
}

.sign-up-link {
  color: #005b47;
}

.go-to-sign-up {
  text-decoration: none;
  color: white;
}

/* Navbar  */

.father-container-navbar {
  position: fixed !important;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.navbar {
  background-color: #005b47ba !important;
  backdrop-filter: blur(5px) !important;
}

.link-navbar {
  display: flex;
}

.navbar-link {
  padding: 10px;
  color: white;
}

.navbar-link:hover {
  color: #005b47;
  border: #005b47;
  background-color: #ffffffac;
  border-radius: 20px;
}

/* Admin panel  */

.header-btn-title {
  align-items: center;
}

.btn-action-admin {
  display: flex;
  justify-content: end;
}

.btn-admin-panel {
  background-color: #005b47d0;
  border: none;
  border-radius: 20px;
  padding: 8px;
}

.btn-admin-panel:hover {
  background-color: #005b47f3;
}

.btn-table-panel-admin-modify {
  border-radius: 20px;
  background-color: #d08f64ca;
  color: white;
  border: none;
  padding: 0.5rem;
}

.btn-table-panel-admin-modify:hover {
  background-color: #d08f64;
}

.btn-table-panel-admin-delete {
  border-radius: 20px;
  background-color: #d34c31ca;
  color: white;
  border: none;
  padding: 0.5rem;
}

.btn-table-panel-admin-delete:hover {
  background-color: #d34c31;
}

.link-to {
  color: #fff;
  text-decoration: none;
}

.title-action-writer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Article details  */

.imagen-author-article {
  border-radius: 50%;
}

.fullname-author-article {
  display: grid;
  place-items: center;
}

.form-comment-article {
  width: 80%;
  margin: auto;
}

.action-admin-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-action-comment-admin {
  display: flex;
  position: absolute;
  right: 12.5rem;
  justify-content: start;
  padding-bottom: 20px;
}

.comment-by-article {
  display: inline;
  margin-top: 10px;
}

.btn-delete-admin-comment {
  margin-right: 5rem;
  border-radius: 20px;
  background-color: #d34c31ca;
  color: white;
  border: none;
  padding: 0.5rem;
}

.btn-delete-admin-comment:hover {
  background-color: #d34c31;
}

.btn-modify-admin-comment {
  border-radius: 20px;
  background-color: #d08f64ca;
  color: white !important;
  border: none;
  padding: 0.5rem;
}

.btn-post-comment-article {
  background-color: #005b47d0;
  border-radius: 20px;
}

.btn-post-comment-article:hover {
  background-color: #005b47;
}

.btn-modify-admin-comment:hover {
  background-color: #d08f64;
}

.header-article {
  margin-top: 6rem;
}

#content-article {
  text-align: center;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 2px solid #005b47;
}
